html {
    background-color: #333333;
    box-sizing: border-box;
}


.header, .footer {
    background: dodgerblue;

    padding: 1rem 0;
    height: 50px;
}


.header {

    background: dodgerblue;
    text-align: center;
    padding: 1rem 0;
    font-size:100%;
    height: 50px;
    justify-content: center;
    align-items: center;

}

.container {
    justify-content: center;
    margin: .5rem 0;
}

.container:after { /*clear float*/
    content: "";
    display: table;
    clear: both;
}

.section {
    float: left;
    /*width: 33.3333%;*/
    width : calc(33.3333% - 1rem);
    height: calc(100vh - 200px - 1rem);

}



nav.section  {

    background-color: blueviolet;
    border: 5px dashed #FFFF00;
    text-align: center;
    justify-content: center;
    align-items: center;
}

section {

    box-sizing: content-box;
}


@media (max-width: 1024px) { /*breakpoint*/
    .section {
        float: none;
        width: auto;
        font-size: calc(1em + 1vw);
    }
}

/* Centered section inside the top navigation */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-family: Verdana, Arial, Tahoma, Serif;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

a:hover {

    background-color: #00ffff;
}

.nav-centered a {
    vertical-align: middle;

}

.main {
    background-color: #FFFF00;
    border: 5px dashed blueviolet;
    margin: 0 .5rem;
}

.aside {
    background-color: #00ffff;
    border: 5px dashed #FFFF00;

}

/* Style the footer*/
.footer {
    clear: left;
   /* background-color: #F1F1F1;
    padding: 20px;*/
    text-align: center;
    height: 50px;
    /*background-image: url("../images/banner.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-position: center;*/
}


