* {
    box-sizing: border-box;
}


header,
footer,
nav,
main,
aside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";
    height: 100vh;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
}

header {
    background: dodgerblue;
    grid-area: header;
    padding: 1rem 0;

    /*padding: 0 1rem;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    box-sizing: border-box;

}

.text-center{
    text-align: center;
    padding: 20px;
}

.header-center {
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

nav {
    background-color: blueviolet;
    border: 5px dashed #FFFF00;
    box-sizing: border-box;
}

.aside {
    background-color: #00ffff;
    border: 5px dashed #FFFF00;

}

nav, aside, main {
    display: flex;
    align-items: center;
    justify-content: center;
}


nav {
    grid-area: nav;
    margin-left: 0.5rem;
}

main {
    grid-area: content;
    width: 100%;
    background: gold;
    border: 5px dashed blueviolet;
}

aside {
    grid-area: side;
    margin-right: 0.5rem;
    background-color: #00ffff;
    border: 5px dashed #FFFF00;
}

footer {
    background: dodgerblue;
    grid-area: footer;
    padding: 1rem 0;

   /* padding: 0 1rem;*/

    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;

}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lucida Console", Courier, monospace;
}

.nav-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;


}


@media (max-width: 768px) {
    .container {
        grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(75px, auto) 1fr minmax(75px, auto) auto;
    }
    nav, aside {
        margin: 0;
    }

    .nav-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;


    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-family: Verdana, Arial, Tahoma, Serif;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

a:hover {

    background-color: dodgerblue;
    color : white;
}

footer {
    clear: left;
}



html {
    width: 100%;
    height: 100vh;
    background-color: #333333;
   /* box-sizing: border-box;*/
}
/**, *:before, *:after {
    box-sizing: inherit;
}*/


